.footer {
  width: 100%;
  background-color: transparent;
  
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 127.87px;
  width: 100%;
  max-width: 1980px;
  padding: 0 112.75px 0 115.5px;
  box-sizing: border-box;
}

.footer-copyright {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 19.25px;
  line-height: 29px;
  color: #9CA3AF;
  margin: 0;
}

.footer-policy {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 19.25px;
  line-height: 29px;
  color: #6B7280;
  text-decoration-line: none;
  margin: 0;
  cursor: default;
}
